[Desktop Entry]
Name=Minute of Silence
Name[uk]=Хвилина мовчання
Comment=National minute of silence at 09:00
Comment[uk]=Національна хвилина мовчання о 09:00
Exec=minute-of-silence --hidden
Icon=minute-of-silence
Terminal=false
Type=Application
Categories=Utility;Clock;
StartupNotify=true
StartupWMClass=minute-of-silence
X-GNOME-Autostart-enabled=true