[Desktop Entry]
Name=Хвилина мовчання
Comment=Національна хвилина мовчання о 09:00
Exec=minute-of-silence --hidden
Icon=minute-of-silence
Terminal=false
Type=Application
Categories=Utility;Clock;
StartupNotify=true
StartupWMClass=minute-of-silence
